<!DOCTYPE html><html><head><title>settings</title><meta http-equiv="content-type" content="text/html" charset="UTF-8"></head><body>

<div id="settings" data-role="page" data-theme="e" data-title="ヒナ：設定">
  <div data-role="header">
    <a data-rel="back" data-icon="back">Back</a>
    <h1>Settings</h1>
  </div>
  <div data-role="content">
    <form id="settingform">
      <label for="setting-standalone">Stanadalone Mode</label>
      <select id="setting-standalone" data-role="slider">
        <option value="false" selected>OFF</option>
        <option value="true">ON</option>
      </select>
    </form>
  </div>
</div>

</body></html>
