<!DOCTYPE html><html><head><title>thread</title><meta http-equiv="content-type" content="text/html" charset="UTF-8"></head><body>

<div id="thread" data-role="page" data-theme="e">
  <div data-role="header" data-theme="a" data-position="fixed">
    <div data-role="navbar" data-iconpos="bottom">
      <ul>
        <li><a data-rel="back" data-icon="back">Back</a></li>
        <li><a href="#thread-pointer" data-rel="popup" data-icon="search" data-position-to="window">Skip</a>
        <li><a href="#threadedit" data-icon="edit">Edit</a>
      </ul>
    </div>
  </div>
  <div id="threadview" data-role="content">
  </div>
  <div id="thread-pointer" data-role="popup">
    <div data-role="content">
      <form id="thread-pointer-form">
        <input type="number" id="thread-pointer-resnumber" placeholder="レス番号">
        <button data-mini="true">移動</button>
      </form>
    </div>
  </div>
</div>

</body></html>
